
<div class="col-md-12 container">
    
    <div class="main-header col-md-12"  style="align-items: center; width: 72; height:72">
        <span>
          <img src="https://app.utec.edu.pe/inscribete/images/UTEC-SVG-Resized.svg" class="centered">
        </span>
      </div>
      
    <div class="m-5">
        <div class="p-2 mb-2 bg-success rounded text-white text-center">
            <b>All Systems Operational</b>
        </div>

    <div class="col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <div class="row">

                            <div class="col-md-9">Alumno Api </div>
                            <div class="col-md-3">
                                <i class="pi pi-check check"></i>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-9">Curricula Api </div>
                            <div class="col-md-3">
                                <i class="pi pi-check check"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-9">Academico Api </div>
                            <div class="col-md-3">
                                <i class="pi pi-check check"></i>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-9">Finance Api </div>
                            <div class="col-md-3">
                                <i class="pi pi-check check"></i>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12 mt-3">
        <span class="legend mb-2">Operativo <i class="pi pi-check check"></i> </span>  
    </div>
        


    </div>

</div>